<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>iPScanner</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>iPScanner</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
		<string>_appletv._tcp</string>
		<string>_companion-link._tcp</string>
		<string>_device-info._tcp</string>
		<string>_net-assistant._tcp</string>
		<string>_odisk._tcp</string>
		<string>_daap._tcp</string>
		<string>_workstation._tcp</string>
		<string>_googlecast._tcp</string>
		<string>_spotify-connect._tcp</string>
		<string>_sonos._tcp</string>
		<string>_ipspeaker._tcp</string>
		<string>_homekit._tcp</string>
		<string>_hap._tcp</string>
		<string>_matter._tcp</string>
		<string>_matterc._udp</string>
		<string>_hue._tcp</string>
		<string>_ep._tcp</string>
		<string>_homeauto._tcp</string>
		<string>_smb._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_nfs._tcp</string>
		<string>_adisk._tcp</string>
		<string>_dsm._tcp</string>
		<string>_synology._tcp</string>
		<string>_qnap._tcp</string>
		<string>_ipp._tcp</string>
		<string>_ipps._tcp</string>
		<string>_printer._tcp</string>
		<string>_pdl-datastream._tcp</string>
		<string>_scanner._tcp</string>
		<string>_rtsp._tcp</string>
		<string>_onvif._tcp</string>
		<string>_axis-video._tcp</string>
		<string>_amba-cam._tcp</string>
		<string>_cctv._tcp</string>
		<string>_ssh._tcp</string>
		<string>_rfb._tcp</string>
		<string>_rdp._tcp</string>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Canberk Kılıçarslan. MIT License.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>iPScanner discovers devices and services on your local network using ICMP ping, ARP, and Bonjour/mDNS.</string>
	<key>NSMainStoryboardFile</key>
	<string></string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>iPScannerUpdateRepository</key>
	<string>Ctere1/iPScanner</string>
</dict>
</plist>
